@import "bourbon"
@import "vars"


body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden
section.doctors
	.doc_certf_btn
		margin-top: 2em
	.toggle_certf
		display: none
	.certificats_wrap
		display: flex
		flex-wrap: wrap
section.doctors
  p
    text-align: center
  .doc_wrapper
    position: relative
    p, span, hr
      z-index: 10
    p
      margin: 5px auto
    hr
      border-color: $accent
      width: 90%
      margin: 5px 0
      display: block
      margin: 0 auto
    span
      text-align: center
      font-size: 1.6em
      text-transform: uppercase
      color: $accent
      font-weight: normal
      line-height: 1em
      padding: 5px
      margin-top: 5px
      display: block
    img
      width: 100%
    .description_wrap
      background-color: rgba(255,255,255,0.8)
      position: absolute
      bottom: 0

section.aboutUs
	//background-image: url("img/bg-room.jpeg")
	//-webkit-background-size: cover
	background-color: rgba(255, 255, 255, .8)
	background-blend-mode: screen
	background-size: cover
	padding-bottom: 50px
	p.centered
		text-align: center
		img
			border-bottom: 30px solid $accent
	.advantage_icon
		img
			width: 15%
			float: left
			margin-right: 1em
	h2
		font-size: 1.5em
		margin-top: 0
		color: #fff
.row.table-row
	div[class*="col-"].table-cell
		background-color: lighten($accent, 10%)
		border: none
		padding: 20px
		color: $alt_font_color
		&:nth-child(2)
			background-color: lighten($accent, 30%)
			&:hover
				background-color: lighten($accent_transparent, 30%)
		a
			font-size: 0.85em
			color: $accent
			position: absolute
			width: 100%
			left: 0
			padding: 20px
			bottom: 0
			background-color: rgba(255,255,255, .8)
			text-transform: uppercase
			display: none
		&:hover
			color: $alt_font_color
			cursor: pointer
			background-color: lighten($accent_transparent, 10%)



section.doctors
	padding: 50px 0px
	background-color: $alt_font_color

section#services
	padding: 50px 0px 50px 0px
	.flex-services_wrapper
		display: flex
		justify-content: center
		flex-wrap: wrap
	.service_box
		border: 1px solid $accent_transparent
		width: 45%
		-webkit-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
		box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
		min-height: 15em
		margin: 0.5em
		background-color: rgba(0, 149, 220, .4)
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(6)
			background-color: lighten( $accent_transparent, 10%)
		ul
			list-style-type: none
		img
			width: 40%
			height: auto
			margin: 10px
			position: absolute

		.service_descr
			margin-left: 40%
			color: $default-font-color
			h3
				color: $default_font_color
.doc_photo_block
		h3
			color: $alt_font_color
			text-transform: uppercase
			padding: 0 0.6em
			font-weight: normal

section.any_questions
	padding: 20px 0
	background-color: $third_color
	vertical-align: middle
	text-align: center
	img
		width: 100%
		height: 100%
		-webkit-animation-delay: 0.5s
		-moz-animation-delay: 0.5s
		-o-animation-delay: 0.5s
		animation-delay: 0.5s
		-webkit-animation-iteration-count: infinite
		-moz-animation-iteration-count: infinite
		-o-animation-iteration-count: infinite
		animation-iteration-count: infinite

section#photos
    padding-bottom:  50px
    background-color: rgba(255,255,255,.6)
    background-blend-mode: screen
    background-size: cover



section#contacts
	padding-top: 20px
	form[action="mail.php"]
		margin: 20px
		color: $alt_font_color
		font-size: 0.8em
		box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px
		fieldset
			border: none

	position: relative
	.external_gmap
		position: absolute
		width: 100%
		min-height: 100%
		&.mobilemap
			width: 95%
	.our_contacts
		position: absolute
		background-color: $alt_font_color
		font-size: 0.8em
		padding: 10px
		top: 30px
		left: 10px
		box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px
		width: auto
		.col-footer
			width: 49%
			display: inline-block
			vertical-align: top
			a
				color: #333


section#articles
	background-color: #fff
	&.articles--onmain
		position: relative
		text-align: left
		p
			text-align: justify !important
		img
			width: 100%
		.article_block
			color: $default-font-color
			display: block
			margin: 0.6em
			&:hover,
			&:focus,
			&:active
				text-decoration: none


			h2
				color: $accent
				text-transform: uppercase
				font-weight: normal
		h1
			color: $accent
			text-transform: uppercase
			display: block
			margin: 1em auto
			text-align: center
			font-weight: normal

		a.article_full
			color: $accent
			padding: 0.8em
			text-align: left
			display: inline
			transition: all 0.4s ease
			&:hover,
			&:focus,
			&:active
				padding-left: 10%	
	&.articles--onlocal
		padding-bottom: 2em
		text-align: left
		h1, h2
			color: $accent
			text-transform: uppercase
			font-weight: normal
	.col-sm-4:hover
		background-color: lighten($accent, 30%)
		transition: all .6s ease
		a.article_full
			color: $alt_font_color
	&.articles--onlocal--caries
		img
			display: block
			margin: 0 auto
		.col-sm-4:hover
			background-color: $alt_font_color
			transition: all .6s ease
		a.article_full
			color: $alt_font_color
	img
		max-width: 100%
	.mauto
		display: block
		margin: 0 auto
#footer
	background-color: $third_color
	font-size: 0.8em
	padding-top: 20px
	a
		color: #333
	a.socials_link
		background-color: $alt_font_color
		border: 1px solid $accent
		color: $accent
		width: 2.3em
		height: 2.3em
		font-size: 1.3em
		display: inline-block
		margin: 0 auto
		text-align: center
		vertical-align: middle
		padding: 0.4em
		-webkit-border-radius: 50%
		-moz-border-radius: 50%
		border-radius: 50%
		-webkit-transition: all  0.3s ease-out
		-moz-transition: all  0.3s ease-out
		-ms-transition: all  0.3s ease-out
		-o-transition: all  0.3s ease-out
		transition: all  0.3s ease-out
		&:hover
			color: $alt_font_color
			background-color: $accent
			border: 1px solid $alt_font_color
	hr
		margin-bottom: 0
		margin-top: 5px
		border-top: 0.15em solid $alt_font_color
	.cprt
		width: 100%
		color: $alt_font_color
		padding: 0.6em
		font-size: 1em
		text-align: center
		background-color: darken($third_color, 10%)
	.col-footer
		width: 49%
		display: inline-block

a.form_callee_button
	width: 60%
	background-color: $accent_transparent
	border: 1px solid $alt_font_color
	color: $alt_font_color !important
	padding: 10px
	display: block
	margin: 10px auto
	text-align: center
	text-transform: uppercase
	-webkit-transition: all 0.3s ease-in
	-moz-transition: all 0.3s ease-in
	-ms-transition: all 0.3s ease-in
	-o-transition: all 0.3s ease-in
	transition: all 0.3s ease-in
	border-radius: 3em
	&:hover,
	&:active,
	&:focus
		color: $alt_font_color
		text-decoration: none
	&:hover
		color: $accent !important
		background-color: $alt_font_color
		border: 1px solid $accent
	&.ask_button
		width: 100%
		margin-top: 15%






section#services
  h3
    padding: 5px
    text-transform: uppercase
    font-size: 1em
    text-align: center
    color: $alt_font_color
    font-weight: normal
  .service_box
     .service_descr
		li:before
			content: ''
			display: block
			height: 12px
			float: left
			width: 12px
			background-repeat: no-repeat
			background-image: url('../img/svg/correct-symbol.svg')
			background-size: 12px 12px
			padding: 10px