@import "bourbon"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden

.row.table-row
	div[class*="col-"].table-cell
		border: 3px solid $accent
		padding: 20px
		&:hover
			color: $alt_font_color
			cursor: pointer
			background-color: $accent_transparent






section.doctors
	padding: 50px 0px
	background-color: $third_color
	.doc_photo_block
		padding: 20px
		img
			width: 100%
		.doc_description
			bottom: 0
			position: absolute
			padding: 2em
			padding-right: 4em
			.doc_description-wrapper
				background-color: $accent_transparent
				padding: .8em
				color: $alt_font_color
				text-align: center
			.doc_name
				text-transform: uppercase
				font-weight: bold
				font-size: 1.6em

			hr
				border-top: 5px solid $alt_font_color
				margin: 0.3em 0
section#services
	background-color: rgba(255,255,255,.8)
	background-blend-mode: screen
	background-size: cover
	padding: 50px 0px
	.flex-services_wrapper
		display: flex
		justify-content: center
		flex-wrap: wrap
	.service_box
		width: 250px
		border: 1px solid $accent_less_transparent
		padding: 20px
		display: block
		margin: 20px
		
		
section#contacts
	padding-top: 50px
	.external_gmap
		width: 100vw
		height: 60vh

#footer
	background-color: $third_color_transparent
	font-size: 0.8em
	a
		color: #333
	a.socials_link
		background-color: $alt_font_color
		border: 1px solid $accent
		color: $accent
		width: 2.3em
		height: 2.3em
		font-size: 1.3em
		display: inline-block
		margin: 0 auto
		text-align: center
		vertical-align: middle
		padding: 0.4em
		-webkit-border-radius: 50%
		-moz-border-radius: 50%
		border-radius: 50%
		-webkit-transition: all  0.3s ease-out
		-moz-transition: all  0.3s ease-out
		-ms-transition: all  0.3s ease-out
		-o-transition: all  0.3s ease-out
		transition: all  0.3s ease-out
		&:hover
			color: $alt_font_color
			background-color: $accent
			border: 1px solid $alt_font_color
	hr
		margin-bottom: 0
		margin-top: 5px
		border-top: 0.15em solid $alt_font_color
	.cprt
		width: 100%
		color: $alt_font_color
		padding: 0.6em
		font-size: 0.7em
		text-align: center
		background-color: lighten($accent, 0%)
	.col-footer
		width: 49%
		display: inline-block
	a.form_callee_button
		width: 60%
		background-color: $accent_transparent
		border: 1px solid $alt_font_color
		color: $alt_font_color
		padding: 10px
		display: block
		margin: 10px auto
		text-align: center
		text-transform: uppercase
		-webkit-transition: all 0.3s ease-in
		-moz-transition: all 0.3s ease-in
		-ms-transition: all 0.3s ease-in
		-o-transition: all 0.3s ease-in
		transition: all 0.3s ease-in
		&:hover,
		&:active,
		&:focus
			color: $alt_font_color
			text-decoration: none
		&:hover
			color: $accent
			background-color: $alt_font_color
			border: 1px solid $accent




