@import "bourbon"
@import "vars"
@import "libs"

//Custom styles here

@import "media"



section#photos
  text-align: center
  h1
    text-transform: uppercase
    color: $accent
    font-weight: normal
  img
    max-width: 100%
    margin-top: 3em
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)
    transition: all 0.3s ease
    &:hover
      transform: scale(1.05, 1.05)
  a
    color: #666666
    &:hover,
    &:active,
    &:focus
      text-decoration: none
      color: #666666

.prices
  .flex_container_prices
    display: flex
    justify-content: center
.prices
  padding-bottom: 3em
  h2
    text-align: center
  ul
    width: 100%
    list-style: none
    li
      width: 100%
      padding: 0.8em
      background-color: $accent_transparent
      color: $alt_font_color
      margin-bottom: 0.7em
      transition: all 0.3s ease
      span.price
        right: 10%
        position: absolute
        font-weight: bold
        font-size: 1.2em
        border-bottom: 1px solid $alt_font_color
      img
        margin-right: 0.5em
section#articles.articles--onmain p
  text-align: left !important
  line-height: 1.5em
  font-size: 0.9em

section#articles.articles--onmain h2
  text-align: left
section#articles.articles--onmain h1
  margin-bottom: 0
section#articles.articles--onmain img
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)